{% extends 'main.html' %}

{% block title %}
Login - Expenses
{% endblock title %}

{% block main %}
<div>
    <h1>
        Login
    </h1>
    <form method="post">
        {% csrf_token %}
        {{ login_form.as_p }}
        <button>Login</button>
    </form>
</div>
{% endblock main %}
