{% extends 'main.html' %}

{% block title %}{% endblock title %}

{% block main %}
<div>
    <h1>Signup</h1>
    <form method="post">
        {% csrf_token %}
        {{signup_form.as_p}}
        <button>Signup</button>
    </form>
</div>
{% endblock main %}
