{% extends 'main.html' %}

{% block title %}

{% endblock title %}

{% block main %}
<h1>
Category
</h1>
<table>
    <thead>
        <th>Name</th>
        <th>Number of Receipts</th>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{category.name}}</td>
            <td>{{category.receipts.count}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock main %}
