{% extends 'main.html' %}

{% block title %}
Create Category
{% endblock title %}

{% block main %}
<div>
    <h1>Create Category</h1>
    <form method="post">
        {% csrf_token %}
        {{category_form.as_p}}
        <button>Create</button>
    </form>
</div>
{% endblock main %}
