{% extends 'main.html' %}

{% block title %}{% endblock title %}

{% block main %}
<div>
    <h1>Create Receipt</h1>
    <form method="post">
        {% csrf_token %}
        {{ receipt_form.as_p}}
        <button>Create</button>
    </form>
</div>
{% endblock main %}
