{% extends 'main.html' %}

{% block title %}Create Account{% endblock title %}

{% block main %}
<div>
    <h1>Create Account</h1>
    <form method="post">
        {% csrf_token %}
        {{account_form.as_p}}
        <button>Create</button>
    </form>
</div>
{% endblock main %}
