{% extends 'main.html' %}

{% block title %}
{% endblock title %}

{% block main %}
<h1>My Receipts</h1>
<table>
    <thead>
        <th>Vendor</th>
        <th>Total</th>
        <th>Tax</th>
        <th>Date</th>
        <th>
            <a href="{% url 'category_list' %}">Category</a>
        </th>
        <th>
            <a href="{% url 'account_list' %}">Account</a>
        </th>
    </thead>
    <tbody>
        {% for content in receipt_list.all %}
        <tr>
            <td>
                {{content.vendor}}
            </td>
            <td>
                {{content.total}}
            </td>
            <td>
                {{content.tax}}
            </td>
            <td>
                {{content.date|date:"m/d/y"}}
            </td>
            <td>
                {{content.category}}
            </td>
            <td>
                {{content.account}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock main %}
